{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home
{% endblock %}
{% block content %}
	<link rel="stylesheet" href="{% static 'style/card.css' %}">
    <br>
    <br>
        <div class="row">
            {% for new in news %}
                <div class="col-sm-3">
                    <div class="parent">
                        <div class="card">
                            <div class="content-box">
                                <span class="card-title">{{ new.news_title }}</span>
                                    <p class="card-content">
                                        {{ new.news_category }} 
                                    </p>
                                <span class="see-more"><a href="{% url 'list_news' %}" class="text-success">See More</a></span>
                            </div>
                            <div class="date-box">
                                <span class="month">{{ new.news_pub_date }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <br>
    <br>
{% endblock %}
